/* CSSfolder/HeaderComponent.css */
.header-content-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set container to full viewport height */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding for top and bottom */
  background-color: lightblue; /* Update the color value */
  height: 10vh; /* Set the header to occupy 10% of viewport height */
  width: 100vw; /* Set the header to occupy full viewport width */
}

.sales-application {
  text-align: right;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: green;
}
