/* home.module.css */

.container {
  background-image: url("https://catalog.uhcl.edu/mime/media/12/10/University%20of%20Houston-Clear%20Lake-newsroom-main-template-v2.jpg"); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headingBox {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.productHeading {
  font-size: 2.5rem;
  margin: 0;
  color: rgb(55, 155, 55); /* Golden color for the heading */
}

.productDescription {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px; /* Ensures lines are not too long for easy reading */
  margin: auto;
}

@media (max-width: 768px) {
  .headingBox {
    width: 90%;
  }

  .productHeading {
    font-size: 2rem;
  }

  .productDescription {
    font-size: 1rem;
  }
}
