/* mentors.module.css */

.content {
  background-image: url("https://catalog.uhcl.edu/mime/media/12/10/University%20of%20Houston-Clear%20Lake-newsroom-main-template-v2.jpg"); /* Replace with your background image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ebf3eb; /* For better readability */
  box-sizing: border-box; /* To include padding in width and height */
}

.profile {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px; /* Fixed width for uniformity */
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profileName {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #283593; /* Dark blue color */
}

.profileDescription {
  font-size: 1em;
  color: #333; /* Dark text color */
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
}
